<div class="modal fade" id="myModal_delete<%=object.id%>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= header %></h4>
      </div>
      <div class="modal-body">
        <p><%= message %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
          <%= link_to t("delete"), object, method: :delete, remote: remote %>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t ".close" %>
        </button>
      </div>
    </div>
  </div>
</div>
