<div class="align-center ">
  <%= search_form_for @search, url: categories_path, method: :get, remote: true do |f| %>
    <div class="input-group flex align-end">
      <div class="flex">
        <div class="flex flex-col align-left">
          <%= label :name, t(".total_start") %>
          <%= f.text_field :sum_money_category_gteq, class: "form-control", placeholder:
           t(".total_gteq") %>
        </div>
        <div class="flex flex-col align-left m-l-5">
          <%= label :name, t(".total_end") %>
          <%= f.text_field :sum_money_category_lteq, class: "form-control", placeholder:
           t(".total_lteq") %>
        </div>
      </div>
      <div class="input-group-btn m-l-5">
        <%= button_tag(type: :submit, class: "btn btn-default") do %>
          <i class="glyphicon glyphicon-search"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
