<% provide :title, t(".title") %>
<div><%= render "search" %></div>
<section class = "category">
  <div class = "header_category">
    <div class="button-col">
      <button class="btn" type="button" data-toggle="modal" data-target="#modalCreate">
        <%= t ".add_category" %>
      </button>
      <%= render "shared/modal_create", object: @category, remote: true, render_form: "categories/form_category", header: t(".header_create") %>
    </div>
    <% if @categories.any? %>
      <div class="status-col">
        <label><%= sort_link @search, :category_type, t(".category_type") %></label>
      </div>
      <div class="progress-col">
        <label><%= sort_link @search, :created_at, t("create_at") %></label>
      </div>
      <div class="dates-col">
        <label><%= sort_link @search, :count_transaction, t(".number_transaction") %></label>
      </div>
      <div class="dates-col">
        <label><%= sort_link @search, :sum_money_category, t(".sum_money_category") %></label>
      </div>
      <div class="priority-col">
        <label><%= t ".actions" %></label>
      </div>
    <% end %>
  </div>

  <ul class="task-items">
    <% if @categories.any? %>
      <%= render "categories" %>
    <% else %>
      <h3><%= t ".no_category" %></h3>
    <% end %>
  </ul>
</section>
