<tbody>
  <tr>
    <td>
      <div class="d-flex align-items-center">
        <div class="m-r-10">
        <button type="button" class="btn btn-circle btn-info text-white" data-toggle="modal" data-target="#modalUser<%= user.id %>">
          <%= t "show" %>
        </button>
        </div>
        <div class="">
          <h4 class="m-b-0 font-16"><%= user.name %></h4>
        </div>
      </div>
    </td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td>
      <label class="label label-danger"><%= user.confirmed_at %></label>
    </td>
    <td><%= user.total_category %></td>
    <td><%= user.total_wallet %></td>
    <td>
      <h5 class="m-b-0"><%= number_to_currency(user.sum_balance, :locale => :en) %></h5>
    </td>
    <td>
      <h5 class="m-b-0"><%= l(user.created_at) %></h5>
    </td>
    <% if user.user? %>
      <% if user.deleted? %>
        <td>
          <%= link_to t(".restore"), restore_admin_user_path(user), method: :patch,
           data: { confirm: t(".sure_restore") }, class: "btn btn-success btn-md" %>
        </td>
      <% else %>
        <td>
          <%= link_to t(".destroy"), admin_user_path(user), method: :delete, remote: true,
           data: { confirm: t(".sure_delete") }, class: "btn btn-warning" %>
        </td>
       <% end %>
      <td>
        <%= link_to t(".really_destroy"), really_destroy_admin_user_path(user), method: :delete,
         data: { confirm: t(".sure_really_destroy") }, class: "btn btn btn-danger" %>
      </td>
    <% end %>
  </tr>
</tbody>
<%= render "shared/show_user" , object: user %>
