<div class="detail" >
  <div class="detail-container-inner bora4 white" >
    <div class="flex  toolbar-detail">
      <span class="title-detail">
        <i class="bi bi-chat-heart-fill"></i>
        <%= t ".header" %>
      </span>
      <div class="toolbar-detail-right">
        <button type="button" class="button-500 delete v-btn v-btn--flat theme--light" data-toggle="modal" data-target="#myModal_delete<%= @transaction.id %>">
          <div class="v-btn__content"><%= t ".delete"%></div>
        </button>
        ||
        <button type="button" class="wsgreen btn cancel" data-toggle="modal" data-target="#myModal<%=@transaction.id%>">
          <div class="v-btn__content"><%= t ".edit"%></div>
      </div>
    </div>
      <%= render "show_transaction" %>
      <%= render "shared/modal_delete", object: @transaction, remote: false, header: t("header_transaction"), message: t("message_transaction")  %>
      <%= render "shared/modal_edit", object: @transaction, render_ui: "transactions/form_transaction", header: t("edit_transaction") %>
  </div>
</div>
