<% if logged_in? %>
  <div class="wrapper">
    <div class="top_navbar">
      <div class="hamburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <div class="top_menu">
        <%= link_to t(".base_title"), home_url, class: "logo" %>
        <%= link_to t(".add_wallet"), new_wallet_url, class: "btn add btn-primary" %>
        <ul>
          <span class ="icon-header">
            <i class="fa-solid fa-user-graduate"></i>
            <i class="fa-solid fa-bell"></i>
          </span>
          <li>
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-log-out" ></span>
              <%= link_to t(".log_out"), logout_path, method: :delete %>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="sidebar">
      <ul>
        <li>
          <span class="icon"><i class="fas fa-book"></i></span>
          <%= link_to t(".transactions"), path_to_wallets, class: "title" %>
        </li>
        <li>
          <span class="icon"><i class="fas fa-file-video"></i></span>
          <%= link_to t(".report"), path_to_chart, class: "title" %>
        </li>
        <li>
          <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
          <%= link_to t(".wallets"), wallets_url, class: "title" %>
        </li>
        <li class="active">
          <span class="icon"><i class="fas fa-blog"></i></span>
          <%= link_to t(".categories"), categories_url, class: "title" %>
        </li>
        <li>
          <span class="icon"><i class="fas fa-leaf"></i></span>
          <%= link_to t(".about"), about_url, class: "title" %>
        </li>
        <li>
          <span class="icon"><i class="fas fa-leaf"></i></span>
          <%= link_to t(".help"), help_url, class: "title" %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<%= javascript_pack_tag "sidebar_header" %>
